<div class="container">
  <h1>Stupid Coaching</h1>

  <div class="line">
    <h3><%= @question %></h3>
    <p>-You</p>
  </div>

  <div class="line">
    <h3><%= @answer %></h3>
    <p>-Your coach</p>
  </div>

  <%= link_to "Ask more question", ask_path %>
</div>
